@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The source code is hosted in Github but the CI Pipeline is in Azure Pipelines. They are integrated with Github "Azure Pipeline" App</p>
